
<h2>Here's yer LOLZ mate!!</h2>

<!--
Hotlinking! Naughty!
<img src="https://i.pinimg.com/originals/2d/a5/c1/2da5c13262f9c0e4c72ad5c3c2f86c84.jpg" alt="Serious Art"> -->

<!-- <img src="/assets/smoking_dog_art.jpg" alt=""> -->

<!--  Rails helper method for linking to images in app/assets/images -->
<%= image_tag 'smoking_dog_art.jpg', alt: "Classy Dog" %>
