
<h2>Let's Calculate!</h2>

<p>
  Type in a URL of the form
  <code>/calc/NUM1/OPERATION/NUM2</code>
  to use the calculator.
</p>

<p>...or:</p>

<form action="/calc/submit">
  First: <input type="text" name="first"><br>
  Operation: <input type="text" name="op"><br>
  Second: <input type="text" name="second"><br>
  <input type="submit" value="Calculate!">
</form>
