<html>
<head>
<title><%= @title %></title>
<style>
 body {
   background-color: rgb(164, 9, 210);
   color: rgb(6, 251, 1);
   font-family: Helvetica;
 }
</style>
</head>
<body>
  <div class="">
    <h1>Awesome Calculator website!!!1!</h1>
    <!-- The specific erb template you ask for gets interpolated here: -->
    <%= yield %>
  </div>

</body>
</html>
